<h1>Schtroumpf blog</h1>

<h2>Schtroumpf social est un réseau social inspiré de Twitter et qui a pour vocation de rassembler tout les plus grand fan de la série belge "Schtroumpf" crée par Peyo en 1958.</h2>

Our schtroumpf blog has <%= Article.public_count %> articles! That's a Schtroumpf number !

<ul>
  <% @articles.each do |article| %>
    <% unless article.archived? %>
      <li>
        <%= link_to article.title, article %>
      </li>
    <% end %>
  <% end %>
</ul>
<button>
<%= link_to "New Schtroumpf", new_article_path %>
</button>