@import "pico.classless";
/* Yellow Light scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme="light"],
:root:not([data-theme="dark"]) {
  --primary: #fdd835;
  --primary-hover: #fbc02d;
  --primary-focus: rgba(253, 216, 53, 0.125);
  --primary-inverse: rgba(0, 0, 0, 0.75);
}

/* Yellow Dark scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme="light"]) {
    --primary: #fdd835;
    --primary-hover: #ffeb3b;
    --primary-focus: rgba(253, 216, 53, 0.25);
    --primary-inverse: rgba(0, 0, 0, 0.75);
  }
}

/* Yellow Dark scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme="dark"] {
  --primary: #fdd835;
  --primary-hover: #ffeb3b;
  --primary-focus: rgba(253, 216, 53, 0.25);
  --primary-inverse: rgba(0, 0, 0, 0.75);
}

/* Yellow (Common styles) */
:root {
  --form-element-active-border-color: var(--primary);
  --form-element-focus-color: var(--primary-focus);
  --switch-color: var(--primary-inverse);
  --switch-checked-background-color: var(--primary);
}

nav {
  margin: 20px;
  height: 100px;
  display: flex;
}

.div_profile {
  display: flex;
  flex-direction: row;
}

button {
   background: none;
   border: none;
   margin: auto;
   height: 100%;
}



/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
